<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:jdbc-settings.xml"/>

    <context:component-scan base-package="com.zhenming.test.service"/>
    <context:component-scan base-package="com.zhenming.test.aspect"/>

    <bean id = "propertiesUtil" class="com.zhenming.test.utils.Property">
        <property name="locations">
            <list>
                <value>classpath:/properties/common.properties</value>
            </list>
        </property>
    </bean>
</beans>